@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #050505;
}

::-webkit-scrollbar-thumb {
  background: #333;
}

::-webkit-scrollbar-thumb:hover {
  background: #ccff00;
}

body {
  background-color: #050505;
  color: #ffffff;
  overflow-x: hidden;
}

* {
  cursor: none !important;
}

@media (hover: none) and (pointer: coarse) {
  * {
    cursor: auto !important;
  }
}

.stroke-text {
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
  color: transparent;
}
